body{
    background-image: url("https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
    background-color: #cccccc;
}
 h1{
    color: darkblue;

 }
 
table, th, td {
    border: 1px solid;
}

